@media(max-width: $mobile-breackpoint) {
    .showcase {
      height: fit-content;
      padding-bottom: 2rem;
  
      &-content {
        text-align: center;
  
        img {
          display: none;
        }
      }
    }

  
  .team{
    .team--members{
      flex-direction: column;
      justify-content:center;
      align-items: center;
    }
  }
  }

  @media(max-width: $mobile-breackpoint * 0.8) {
    .team{
      .team--members{
        flex-direction: column;
      }
    }

  }